.serverAnswer {
    grid-area: content;

    min-height: 286px;
    margin: 20px;
    /*outline: solid 6px #e5e5e5;*/
    border: 12px solid #fff53d;
    border-radius: 16px;
    /*background-color: #fff53d;*/
    background-color: #e5e5e5;
    text-align: center;

    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
    "top top top"
    "mid mid mid"
    "debug bot bot";
}

.introduction {
    grid-area: top;
    padding-top: 50px;
    font-size: 22px;
}

.top {
    grid-area: top;
    margin-top: 5px;
}

.mid {
    grid-area: mid;
    /*display: flex;*/
}

.card {
    outline: solid 6px #fff53d;
    margin: 50px;
}

.card span {
    /*font-size: 13px;*/
}

.testing {
    outline: solid 6px #fff53d;
}

.buttonOne {
    margin: 20px;
    margin-top: 50px;
    padding: 10px;
    font-size: 21px;
}

.debugSection {
    grid-area: debug;
    background-color: #868686;
    /*background-color: #e5e5e5;*/
}

.debugSection span {
    color: #e5e5e5;
    font-size: 13px;
}
