.cardCreate {
    background-color:#00d1b2;
    /*bottom:0;*/
    padding:20px 40px 30px;
    /*position:fixed;*/
    width:100%;
}

.cardCreate h3 {
    color:#fff;
    font-size:24px;
    font-weight:700;
}

.cardCreate form {
    align-items:flex-start;
    display:flex;
    flex-direction:column;
}

.cardCreate form input {
    margin-bottom:5px;
}

.input,
.select select,
.textarea {
    background-color:#fff;
    border-color:#dbdbdb;
    border-radius:4px;
    color:#363636
}
