.quizWrapper {
    grid-area: content;

    min-height: 286px;
    margin: 20px;
    /*background-color: #fff53d;*/
    background-color: #e5e5e5;
    /*outline: solid 6px #e5e5e5;*/
    border: 10px solid #fff53d;
    border-radius: 10px;
    text-align: center;

    display: grid;
    grid-template-columns: 200px 2fr 200px;
    grid-template-rows: 1fr 1fr 50px;
    grid-template-areas:
    "topOne question score"
    "tipsIfGuessed options tipsIfWrong"
    "tipsIfGuessed botTwo tipsIfWrong";
}

.introduction {
    grid-area: question;
    padding-top: 50px;
    font-size: 21px;
}

.startQuiz {
    grid-area: options;
}

.buttonStart {
    margin-top: 70px;
    padding: 10px;
    font-size: 21px;
}

.variants {
    grid-area: options;
}

.variantButton {
    margin: 5px;
    padding: 12px;
    font-size: 20px;
}

.variantButtonIfGuessed {
    margin: 5px;
    padding: 12px;
    background-color: #e3fd00;
    font-size: 20px;
}

.variantButtonIfWrong {
    margin: 5px;
    padding: 12px;
    background-color: #e2754e;
    font-size: 20px;
}

.scoreWrapper {
    grid-area: score;
    padding-right: 50px;
}

.scoreDefault {
    border: 10px solid inherit;
    border-radius: 30px;
    margin-top: 40px;
    padding: 10px 10px;
    background-color: #e3fd00;
    /*background-color: #e8d2a1;*/
    text-align: center;
    font-size: 18px;
}

.scoreDefault span {
    /*color: #e3fd00;*/
}

.scoreIfUserGuessed {
    border: 10px solid inherit;
    border-radius: 30px;
    margin-top: 40px;
    padding: 10px 10px;
    background-color: #e3fd00;
    /*background-color: #e8d2a1;*/
    text-align: center;
    font-size: 18px;
}

.scoreIfUserGuessed span {
    /*color: #e3fd00;*/
}

.scoreIfUserWrong {
    border: 10px solid inherit;
    border-radius: 30px;
    margin-top: 40px;
    padding: 10px 10px;
    /*background-color: #d2beb5;*/
    /*background-color: #e9a379;*/
    /*background-color: #d31e27;*/
    background-color: #e2754e;
    text-align: center;
    font-size: 18px;
}

.scoreIfUserWrong span {
    /*color: #d2beb5;*/
}

.scoreFinalResult {
    grid-area: question;
    padding-top: 50px;
    font-size: 27px;
}

.tipIfUserGuessed {
    grid-area: tipsIfGuessed;

    /*margin-left: 50px;*/
    width: 200px;
    /*position: relative;
    left: 250px;
    margin: 0 auto;*/
    padding: 25px;
    /*margin-left: 40px;*/
    /*background-color: #d0fe15;*/
     background-color: #e3fd00;
    /*background-color: #f1eea1;*/
        /*background-color: #eeeee4;*/
    /*background-color: #dde5d8;*/
    /*background-color: #99f2c8;*/
    /*background-color: #a0eec7;*/
    /*background-color: #a7e0d7;*/
    /*background-color: #cff1fb;*/
    /*background-color: #e8d2a1;*/
    text-align: center;
    font-size: 18px;
}

.tipIfUserWrong {
    grid-area: tipsIfWrong;

    width: 150px;
    /*position: relative;*/
    /*left: 250px;*/
    /*margin: 0 auto;*/
    padding: 25px;
    /*background-color: #d2beb5;*/
    /*background-color: #e9a379;*/
    /*background-color: #d31e27;*/
    background-color: #e2754e;
    text-align: center;
    font-size: 18px;
}
