.content {
    grid-area: content;

    min-height: 286px;
    margin: 20px;
    background-color: #fff53d;
    text-align: center;
}

.introduction {
    padding-top: 45px;
}

.buttonStart {
    margin-top: 35px;
    margin-bottom: 40px;
    padding: 10px;
}

.variantButton {
    margin: 5px;
    padding: 7px;
    font-size: 14px;
}

.userScore {
    padding-top: 50px;
    padding-right: 130px;
    text-align: right;
}

.userScoreResult {
    padding-top: 50px;
}

.debugSection {
    margin-top: 50px;
    padding: 20px;
    color: #868686;
}

.debugSectionResult {
    color: #868686;
}
