.modal {
    height: 100vh;
    width: 110vw;
    /*width: 1700px;*/

    /*background-color: green;*/
    /*background-color: rgba(0,0,0,0.4);*/
    background-color: rgba(0,0,0,0.6);
    position: fixed;    /* Чтобы при скроле страницы Модальное_Окно всегда оставалось посередине */
    top: 0;
    left: 0;
    /* Ниже 3-мя строчками отцентруем это Окно по горизонтали и по вертикали: */
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/

    /*transform: scale(0);*/    /* Т.е. уменьшим до такой степени что Окна не будет видно */

    opacity: 0;     /* Сделаем Модальное_Окно прозрачным */
    pointer-events: none;   /* Чтобы Модальное_Окно не перекрывало элементы на странице (чтобы мы могли с ними взаимодействовать) */

    transition: 0.5s;   /* Чтобы анимировать открытие Модального_Окна */
}

.modal.active {
    /*.active {*/
    /*transform: scale(1);*/    /* Т.е. увеличим Окно до полного размера (заданного в css-классе modal) */

    opacity: 1;
    pointer-events: all;    /* Т.к. когда мы отключили pointer-events в css-классе modal то Окно становится некликабельным */

    /* TODO: подвниуть окно немного вправо */
    /*position: page;
    right: 180px;*/
    position: fixed;
    /*right: 380px;*/
    left: -75px;
}

.modalContent {
    margin: 220px 550px;
    padding: 50px;
    /*height: 400px;
    width: 400px;*/
    /*width: 200px;*/
    /* Высоту будем задавать динамически (благодаря тому что внутри есть какой-то текст) */
    height: 355px;
    width: 800px;

    border: 9px solid #e5e5e5;
    border-radius: 12px;
    /*background-color: #fff53d;*/
    background-color: #e3fd00;
    /*background-color: #dcd7d2;*/
    /*color: aqua;*/

    transform: scale(0.5);
    transition: 0.4s all;

    /*text-align: center;*/
    /*font-size: 18px;*/
    font-size: 22px;
}

.modalContent.active {
    transform: scale(1);
}
