.header {
    grid-area: header;

    height: 50px;
    margin: 20px;

    /*outline: solid 6px #e5e5e5;*/
    border: 11px solid #fdd142;
    /*border: #fdd142 dashed 10px;*/
    /*outline: 3px solid #fff;*/
    border-radius: 16px;
    /*border-radius: 100px 15px 100px 15px;*/
    background-color: #e5e5e5;
    /*background-color: #fdd142;*/
}

.headerText {
    padding-right: 30px;
    padding-top: 16px;
    text-align: right;
    font-size: 18px;
}
