.quizWrapper {
    grid-area: content;

    max-height: 431px;
    margin: 20px;
    /*outline: solid 6px #e5e5e5;*/
    border: 12px solid #fff53d;
    border-radius: 16px;
    /*background-color: #fff53d;*/
    background-color: #e5e5e5;
    text-align: center;

    display: grid;
    grid-template-columns: 210px 2fr 210px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "top top score"
    "midL inputArea debug"
    "buttonArea buttonArea buttonArea";
}

.introduction {
    grid-area: top;
    padding-top: 50px;
    margin-left: 190px;
    font-size: 22px;
}

.top {
    margin-left: 170px;
    grid-area: top;
    margin-top: 50px;
}

.score {
    padding-top: 55px;
    font-size: 27px;
}

.inputArea {
    grid-area: inputArea;
    margin: 30px;
    padding-left: 90px;
    /*display: flex;*/
}

.buttonArea {
    grid-area: buttonArea;
    /*display: flex;*/
}

.buttonOne {
    margin-top: 30px;
    padding: 10px;
    font-size: 21px;
}

.buttonTwo {
    margin: 5px;
    margin-right: 50px;
    padding: 10px;
    font-size: 21px;
}

.debugSection {
    grid-area: debug;
    background-color: #868686;
    /*background-color: #e5e5e5;*/
}

.debugSection span {
    color: #e5e5e5;
    font-size: 13px;
}
