.navbar {
    grid-area: navbar;

    height: 370px;
    margin: 20px;
    padding-top: 30px;

    border: 13px solid #d0faf9;
    border-radius: 16px;
    /*background-color: #d0faf9;*/
    background-color: #e5e5e5;
}

.item {
    margin: 10px;
    padding-top: 5px;

    color: #868686;
    text-decoration: none;
    font-size: 18px;
}

.active
{
    margin: 23px;

    color: darkslategrey;
    text-decoration: none;
}
