.navbar {
    grid-area: navbar;

    margin: 20px;
    padding-top: 30px;
    height: 256px;
    /*background-color: #d0faf9;*/
    background-color: #e5e5e5;
    border: 10px solid #d0faf9;
    border-radius: 10px;
}

.item {
    margin: 20px;

    color: #868686;
    text-decoration: none;
}

.active
{
    margin: 35px;

    color: darkslategrey;
    text-decoration: none;
}
