.content {
    grid-area: content;

    margin: 20px;
    padding: 100px;
    min-height: 133px;
    border: 12px solid #fff53d;
    border-radius: 16px;
    /*background-color: #fff53d;*/
    background-color: #e5e5e5;
    text-align: center;
    font-size: 18px;
}

.tenseWrapper {
    border: 6px solid lightgray;
}

.chapter {
    background-color: #d2beb5;
}

.description {
    /*background-color: #d4d4d4;*/
    /*background-color: #fff;*/
    background-color: rgb(209 213 219);
}

.build {
    background-color: #fff;
}
