.globalTheme {

        /*      for DISPLAY: 2560*1600 scale: 125%    */
  /*height: 1169px;*/
  /*width: auto;*/

        /*      for DISPLAY: 2560*1600 scale: 150%    */
  height: 956px;

        /*      LIGHT THEME     */
  /*background-color: #ffffff*/   /* это стандартный белый цвет который даётся по умолчанию.  */

        /*      DARK THEME      */
  background-color: #373737;
}

.app-wrapper {
  margin: 0 auto;
  width: 1400px;

  display: grid;

  grid-template-areas:
  "header header"
  "navbar content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 4fr 14fr;
}
